// custom styles for the comments


.gallery__comment-box {
  border-bottom: 1px solid grey;
}

.dashboard__comment-form-container{
  text-align: center;
}

.form__header {
  padding-bottom: 25px;
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: italic;
  font-size: 2em;
}

.comments__header {
  padding-bottom: 25px;
  font-size: 2.2em;
  font-family: 'Coves-Light';
  text-align: center;
}

.comments {
  margin-bottom: 20px;
}

.comments__body {
  padding-left: 10px;
  font-size: 1.1em;
}

.comments__meta {
  margin-top: 10px;
  text-align: right;
}

.comments__user {
  padding-left: 7px;
}

.comments__date {
  border-right: 1px solid black;
  padding-right: 7px;
}

.gallery__no-comments {
  font-family: 'Coves-Light';
  text-align: center;
  padding-top: 10px;
}
