// custom styles for the critique form and image view

.criticisms-header {
  text-align: center;
}

.comment-list {
  border-bottom: 1px solid grey;
}

.individual-comment-box {
  margin-bottom: 20px;
}

.comment-body {
  padding-left: 10px;
}
