////////Main dashboard component styles and containers/////////

.form__image-title {
  font-size: 2.2em;
  font-family: 'Coves-Light';
}

.form__user-name {
  font-size: 1.6em;
  font-family: 'Coves-Light';
  padding-left: 5px;
}

.form__image-description {
  margin-bottom: 20px;
  font-size:  .9em;
  line-height: 1.7em;
  padding-bottom: 30px;
  width: 80%;
}

.form__artist-notes {
  font-weight: bold;
  font-style: italic;
  font-size: 1.1em;
  margin-top: 0;
}

.form__comment-header {
  font-family: 'Coves-Light';
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 15px;
}

.dashboard{
  margin-top: 30px;
}

.dashboard__image-container {
  text-align: left;
  padding: 0;
  margin-bottom: 50px;
}

.dashboard__main-container {
  width: 75%;
  margin: 0 auto;
}

.critique-image__image {
  max-height: 450px;
  max-width: 90%;
  padding-right: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  border-right: 1px solid black;
}

.critique-image__image-title {
  font-size: 1.8em;
}

.modal-image {
  margin: 0 auto;
  width: 100%;
}

.critique-image__header {
  margin-top: 0;
  font-size: 1.3em;
  font-weight: lighter;
  font-style: italic;
}


//media queries

@media screen and (max-width: 990px) {
  .dashboard__image-container {
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
  }

  .critique-image__image{
    max-width: 100%;
    border-right: none;
    padding-right: 0;
  }

  .dashboard__main-container {
    width: 85%;
  }

  .dashboard__image-container {
    text-align: center;
  }

  .form__image-header {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  p.form__image-description {
    margin-bottom: 0;
    margin-right: 0;
    font-size:  1em;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
  }
}
