////////Main dashboard component styles and containers/////////

.dashboard__image-title {
  font-size: 1.9em;
  font-family: 'Coves-Light';
  text-transform: uppercase;
  display: block;
  margin: 0;
  max-width: 350px;
}

.form__form-text-center {
  text-align: center;
}

.dashboard__user-name {
  font-size: 1.3em;
  font-family: 'Coves-Light';
  padding-left: 5px;
  color: $mustard;
}

.dashboard__user-name:hover {
  color: $orange-sunset;
}

.title-border {
  border-right: 1px solid $mustard;
  padding-left: 10px;
}

.image-container {
  width: 100%;
  margin: 0 auto;
}

.dashboard__image-info-container {
  width: 50%;
  margin: 0 auto;
}

.dashboard__image-main {
  max-height: 450px;
  max-width: 90%;
  padding-right: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
  cursor: pointer;
  border-right: 1px solid $light-grey;
}

.gallery__critique-this {
  text-transform: uppercase;
  font-family: 'Coves-Light';
  font-size: 1.4em;
  cursor: pointer;
  position: relative;
}

.gallery__critique-this:hover:after {
  width: 33%;
}

.gallery__critique-this:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid black;
  transition: 0.4s;
}

.gallery__delete-this {
  text-transform: uppercase;
  font-family: 'Coves-Light';
  font-size: 1.4em;
  cursor: pointer;
  position: relative;
}

.gallery__delete-this:hover {
  color: $orange-sunset;
}

.gallery__delete-this:after {
  @extend %animate-links-after;
  border-bottom: 1px solid $orange-sunset;
  color: $orange-sunset;
}

.gallery__delete-this:hover:after {
  @extend %animate-links-hover;
  width: 33%;
}

.gallery__already-commented {
  font-size: 1.2em;
  font-weight: 300;
}

.dashboard__image-description {
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size:  1.1em;
  line-height: 1.4em;
  width: 75%;
  font-family: 'Coves-Light';
}

.dashboard__artist-notes {
  font-size: 1.3em;
  margin-top: 0;
  font-family: $font-stack--primary;
}

.dashboard{
  margin-top: 30px;
}

.dashboard__image-container {
  text-align: left;
  padding: 0;
  margin-bottom: 50px;
}

.dashboard__main-container {
  width: 75%;
  margin: 0 auto;
}

.dashboard__image-main-title {
  font-size: 1.8em;
}

.dashboard__modal-image {
  margin: 0 auto;
  width: 100%;
}

.critique-image__header {
  margin-top: 0;
  font-size: 1.3em;
  font-weight: lighter;
  font-style: italic;
}

//media queries

@media screen and (max-width: 990px) {

  .dashboard__image-title {
    margin: 0 auto;
  }

  .form__form-text-center {
    margin-top: 50px;
  }

  .dashboard__image-container {
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
  }

  .dashboard__comment-form-container {
    margin-bottom: 50px;
    height: 100%;
  }

  .dashboard__image-main{
    max-width: 100%;
    border-right: none;
    padding-right: 0;
  }

  .dashboard__main-container {
    width: 85%;
  }

  .dashboard__image-container {
    text-align: center;
  }

  .dashboard__image-header {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }

  p.dashboard__image-description {
    margin-bottom: 0;
    margin-right: 0;
    font-size:  1em;
    text-align: center;
    width: 100%;
  }

  .gallery__critique-this {
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: 'Coves-Light';
    width: 300px;
    border: 1px solid  $mustard;
    color: $mustard !important;
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
  }

  .gallery__critique-this:hover {
    background-color:  $mustard !important;
    color: white !important;
  }

  .gallery__critique-this:after {
    display: none;
  }

  .gallery__delete-this:after {
    display: none;
  }

  .gallery__delete-this {
    margin-top: 20px;
  }

  .dashboard__image-info {
    background-color: $lightest-grey;
    max-width: 100%;
    padding: 20px;
  }

  .comments__header {
    margin-top: 50px;
  }
}
