//Main dashboard component styles and containers.

.dashboard{
  margin-top: 30px;
}

.dashboard__image-container {
  text-align: left;
  padding: 0;
  margin-bottom: 50px;
}

//media queries 

@media screen and (max-width: 990px) {
  .dashboard__image-container {
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #696969;
  }
}
