//comment form styling

.form__question {
  padding-left: 10px;
  font-size: 1.1em;
  color: #696969;
  font-weight: lighter;
}

.form__comment-instructions {
  font-size: .9em;
}

.form__textfield {
  margin-bottom: 20px;
}

.form__sign-up {
  text-align: center;
  margin-top: 20px;
}

.form__join-header {
  font-family: 'Coves-Light';
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
}

.form__comment-header {
  font-family: 'Coves-Light';
  font-size: 1.9em;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid $mustard;
  width: 250px;
  margin: 0 auto 25px auto;
}

.form__instructions-header {
  font-size: 1.1em;
  font-family: $font-stack--primary;
  font-weight: 400;
  padding-bottom: 5px;
}

.form__comment-instructions {
  line-height: 1.5em;
  font-weight: lighter;
}

.form__tips-header {
  font-weight: 500;
}

.form__splash-header {
  font-family: 'Coves-Light';
  text-align: center;
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 20px;
  color: #000;
  padding-top: 25px;
  font-weight: lighter;
  letter-spacing: .01em;
  text-transform: uppercase;
}

.form__sign-in-header {
  font-family: 'Coves-Light';
  text-align: center;
  color: #000;
  margin-bottom: 15px;
}

//Custom styling workaround that mimics material design forms

input.email-sign-up-email,
input.email-sign-up-password,
input.email-sign-up-password-confirmation {
  @extend %material-text-fields;
  background-color: $light-grey;
  color: #000;
}

input.email-sign-in-email,
input.email-sign-in-password {
  @extend %material-text-fields;
  color: #000;
  background-color: $light-grey;
  &:focus {
  color: #000;
  background-color: $light-grey;
  }
}

input:focus {
  outline: none;
}

label {
  display: none;
}

form.redux-auth.email-sign-up-form {
  @extend %splash-form-centering;
}

form.redux-auth.email-sign-in-form {
  @extend %splash-form-centering;
}


//removes ugly yellow input field highlight in chrome browsers
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $light-grey inset;
}

input.email-sign-in-email:-webkit-autofill,
input.email-sign-in-password:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $light-grey inset;
}

//Sign In Form Transition Animation

.formTransition-enter {
  opacity: 0;
  transform: translate(-250px,0);
  transform: translate3d(-250px,0,0);
}

.formTransition-enter.formTransition-enter-active {
  opacity: 1;
  transform:   translate(0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.formTransition-leave {
  opacity: 1;
	transform:   translate(0,0,0);
	transform: translate3d(0,0,0);
	transition-property: transform, opacity;
	transition-duration: 10ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.formTransition-leave.formTransition-leave-active {
  opacity: 0;
	transform:   translate(250px,0);
	transform: translate3d(250px,0,0);
}

//Custom styling for upload form

div.ReactTags__tagInput input,
div.ReactTags__tagInput input:focus,
input.upload-dashboard__image-title,
input.upload-form__image-desc {
  @extend %upload-material-text-fields;
}

.upload-title {
  text-transform: uppercase;
  font-family: 'Coves-Light';
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
}

.tags-container {
  text-align: center;
  list-style: none;
}

div.ReactTags__selected a.ReactTags__remove {
  color: #2957C3;
  margin-left: 5px;
  cursor: pointer;
  font-size: .8em;
}

div.ReactTags__selected span.ReactTags__tag {
  padding-right: 5px;
  font-size: 1.2em;
  font-family: 'Coves-Light';
  display: block;
  margin-bottom: 5px;
}

.tags-header {
  font-size: 1.3em;
  font-family: 'Coves-Light';
}

.upload-text-fields {
  text-align: center;
}

.dropzone-copy {
  font-family: 'Coves-Light';
  margin-top: 5px;
}

.feedback {
  font-family: 'Coves-Light';
  margin-top: 15px;
  display: block;
  color: #2957C3;
}
