//comment form styling

.form__question {
  padding-left: 10px;
  font-size: 1.1em;
}

.form__textfield {
  margin-bottom: 20px;
}

.form__sign-up {
  text-align: center;
  margin-top: 20px;
}

//Custom styling workaround that mimics material design forms

input.email-sign-up-email,
input.email-sign-up-password,
input.email-sign-up-password-confirmation {
  @extend %material-text-fields;
  background-color: #f6f6f6;
}

input.email-sign-in-email,
input.email-sign-in-password {
  @extend %material-text-fields;
  background-color: #fff;
}

input:focus {
  outline: none;
}

//removes ugly yellow input field highlight in chrome browsers
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f6f6f6 inset;
}

label {
  display: none;
}

button:focus {outline:0;}

button.email-sign-up-submit,
button.form__sign-in-button {
  @extend %splash-buttons;
  background-color: #f6f6f6;
}

.form__sign-up-container,
.form__sign-in-container,
.form__sign-in-email {
  @extend %splash-form-centering;
}

.form__sign-in-header {
  font-family: 'Coves-Light';
  text-align: center;
  color: #000;
  margin-bottom: 15px;
}

form.redux-auth.email-sign-in-form {
  @extend %splash-form-centering;
}

button.email-sign-in-submit {
  @extend %splash-buttons;
  background-color: #fff;
}
