//custom styles for the image gallery

.gallery {
  text-align: left;
}

.gallery__link-critique {
  text-transform: uppercase;
  font-family: 'Coves-Light';
  font-size: 1.4em;
  cursor: pointer;
  position: relative;
}

.gallery__empty {
  font-family: 'Coves-Light';
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 10px;
  display: block;
}

.gallery__container-empty {
  text-align: center;
}

.gallery__container-spinner {
  width: 80%;
  margin-right: 200px !important;
}

.gallery__link-critique:hover:after {
  width: 33%;
}

.gallery__feedback {
  font-weight: $font-weight--ultralight;
  font-size: 1.1em;
}

.gallery__link-gallery {
  font-weight: $font-weight--ultralight;
  text-decoration: underline;
  font-size: 1.1em;
}

.gallery__link-gallery:hover {
  color: $mustard;
}

.gallery__link-critique:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid black;
  transition: 0.4s;
}

.gallery__link-delete {
  text-transform: uppercase;
  font-family: 'Coves-Light';
  font-size: 1.4em;
  cursor: pointer;
  position: relative;
}

.gallery__link-delete:hover {
  color: $orange-sunset;
}

.gallery__link-delete:after {
  @extend %animate-links-after;
  border-bottom: 1px solid $orange-sunset;
  color: $orange-sunset;
}

.gallery__link-delete:hover:after {
  @extend %animate-links-hover;
  width: 33%;
}

.gallery__commented {
  font-size: 1.2em;
  font-weight: 300;
}

.gallery__no-comments {
  font-family: 'Coves-Light';
  text-align: center;
  padding-top: 10px;
}

.gallery__main-container {
  @extend %main-container;
}

.gallery__view-container {
  @extend %main-container;
}

.gallery-thumbnail__title {
  font-size: 1.5em;
  margin: 15px 0;
}

.dashboard-header {
  border-bottom: 1px solid #bbbdc3;
  padding-bottom: 15px;
}

.gallery__header-search{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.gallery__header {
  font-family: 'Coves-Light';
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 1px solid $mustard;
}

.gallery__item {
  width: 180px;
  margin-bottom: 10px;
  position: relative;
}

.search-input > input {
  background-color: #fff !important;
  color: #000 !important;
  font-size: 16px;
  font-family: 'Coves-Light';
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom:  20px;
}

//hover captions for image gallery

figure {
  position: relative;
}

figure img {
  display: block;
  position: relative;
  z-index: 10;
  max-width: 100%;
  height: auto;
}

figure figcaption {
  display: block;
  position: absolute;
  z-index: 5;
}

.gallery__title-hover {
  padding-top: 5px;
  color: #000;
  font-size: 1em;
  line-height: 1.2;
  font-weight: 700;
  font-family: 'Coves-Light';
  text-transform: uppercase;
  padding-bottom: 0;
  margin-bottom: 5px;
}

.gallery__caption-hover {
  font-size: .9em;
  font-family: 'Coves-Light';
  display: block;
}

.gallery__comments-hover {
  font-size: .8em;
  font-family: 'Coves-Light';
  padding: 0;
  color: $mustard;
}

figure {
  overflow: hidden
}

figure {
  background-color: #fff;
}

figcaption {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

figure img {
    transition: all 0.4s;
}

figure:hover img,
figure.hover img {
    transform: translateY(-90px);
}

.gallery__images {
  padding-top: 10px;
  padding-left: 0;
  margin: 0 auto;
}

.gallery__user-header {
  font-family: 'Coves-Light';
}

//media queries

@media screen and (max-width: 1100px) {
  .gallery__main-container {
    width: 95%;
  }

  .gallery__no-comments {
    margin-bottom: 40px;
    font-size: 1.3em;
  }

  .gallery__link-critique {
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: 'Coves-Light';
    width: 300px;
    border: 1px solid  $mustard;
    color: $mustard !important;
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
  }

  .gallery__link-critique:hover {
    background-color:  $mustard !important;
    color: white !important;
  }

  .gallery__link-critique:after {
    display: none;
  }

  .gallery__link-delete:after {
    display: none;
  }

  .gallery__link-delete {
    margin-top: 20px;
  }

  .gallery__commented {
    margin-top: 20px;
  }
}

@media screen and (max-width: 900px) {

  .gallery__header {
    display: none;
  }
}

@media screen and (max-width: 550px) {

  .search-input {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 375px) {

  .gallery__item {
    width: 120px;
  }
}
