//custom styles for the image gallery

.gallery-img {
  object-fit: cover;
  height: 400px;
  width: 600px;
  display: block;
}

.dashboard-header {
  border-bottom: 1px solid #696969;
  padding-bottom: 15px;
}
