//custom styles for the image gallery

.gallery {
  text-align: left;
}

.gallery__main-container {
  @extend %main-container;
}

.gallery__view-container {
  @extend %main-container;
}

.gallery-thumbnail__title {
  font-size: 1.5em;
  margin: 15px 0;
}

.dashboard-header {
  border-bottom: 1px solid #bbbdc3;
  padding-bottom: 15px;
}

.gallery__header-search{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.gallery__header {
  font-family: 'Coves-Light';
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: 1px solid $mustard;
}

.gallery__item {
  width: 180px;
  margin-bottom: 10px;
  position: relative;
}

.search-input > input {
  background-color: #fff !important;
  color: #000 !important;
  font-size: 16px;
  font-family: 'Coves-Light';
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom:  20px;
}

//hover captions for image gallery

figure {
  position: relative;
}

figure img {
  display: block;
  position: relative;
  z-index: 10;
  max-width: 100%;
  height: auto;
}

figure figcaption {
  display: block;
  position: absolute;
  z-index: 5;
}

.gallery__title-hover {
  padding-top: 5px;
  color: #000;
  font-size: 1em;
  line-height: 1.2;
  font-weight: 700;
  font-family: 'Coves-Light';
  text-transform: uppercase;
  padding-bottom: 0;
  margin-bottom: 5px;
}

.gallery__caption-hover {
  font-size: .9em;
  font-family: 'Coves-Light';
  display: block;
}

.gallery__comments-hover {
  font-size: .8em;
  font-family: 'Coves-Light';
  padding: 0;
  color: $mustard;
}

figure {
  overflow: hidden
}

figure {
  background-color: #fff;
}

figcaption {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

figure img {
    transition: all 0.4s;
}

figure:hover img,
figure.hover img {
    transform: translateY(-90px);
}

.gallery__images {
  padding-top: 10px;
  padding-left: 0;
  margin: 0 auto;
}

.gallery__user-header {
  font-family: 'Coves-Light';
}

//media queries

@media screen and (max-width: 1100px) {
  .gallery__main-container {
    width: 95%;
  }
}

@media screen and (max-width: 900px) {
  .gallery__header {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .search-input {
    margin-right: auto;
    margin-left: auto;
  }
}
