// custom styles for the header element

.form__header {
  margin-bottom: 30px;
  font-family: 'Merriweather';
  font-weight: 300;
  font-style: italic;
}

.comments__header {
  margin-bottom: 10px;
  text-align: center;
}
