//custom styles for the sidebar

.sidebar__main-container {
  background-color: #262626;
  height: 100vh;
}

.sidebar-welcome {
  font-family: $font-stack--primary;
  font-weight: lighter;
  font-size: 1.2em;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-top: 10px;
  color: $pale-blue;
}

.sidebar-username {
  font-family: $font-stack--primary;
  font-weight: lighter;
  color: $pale-blue;
}

span.sidebar-user {
  font-family: 'Coves-Light';
  font-size: 1.3em;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 15px;
  margin-bottom: 15px;
}

.dashboard-header__logo {
  font-family: 'Coves-Light';
  font-size: 3.2em;
  margin-left: 20px;
  flex-grow: 2;
  color: #000;
}

.dashboard-header__logout{
  flex-basis: 1;
}

.sidebar__menu-link {
  text-transform: uppercase;
  font-family: 'Coves-Light';
  font-size: 1.5em;
  display: block;
  margin-left: 15px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  cursor: pointer;
  position: relative;
  color: #fff;
}

.sidebar__menu-link:hover {
  color: #fff;
}

.sidebar__menu-link:after {
  @extend %animate-links-after;
  border-bottom: 1px solid $pale-blue;
}

.sidebar__menu-link:hover:after {
  @extend %animate-links-hover;
}

//media queries
@media screen and (max-width: 550px) {
  button.sign-out-submit {
    display: none;
  }

  div.dashboard-header {
    text-align: right;
    font-size: .7em;
  }

  .sidebar-user {
    display: none;
  }
}
