// custom styles for splash page, including sign in and sign up forms

.sign-up-form {
  text-align: center;
  margin-top: 20px;
}

.sign-in {
  text-align: center;
  margin: 20px auto 0 auto;
  text-transform: uppercase;
  border: 1px solid #1309F2;
  width: 250px;
  padding: 5px 0 5px 0;
}

.sign-in a {
  color: #1309F2;
  &:hover {
    color: #1309F2;
  }
}

.tag-line {
  font-size: 1.6em;
  font-style: italic;
  margin-bottom: 20px;
}

.main-logo {
  margin-bottom: 10px;
}
