////////// custom styles for splash page////////

.splash__tagline {
  font-size: 1em;
  font-style: italic;
  margin-bottom: 20px;
  text-align: center;
}

.splash__logo {
  font: 3em 'Coves-Light';
  font-size: 5em;
  text-align: center;
}

.splash {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

//Styling for Redux-auth error modals

h4.modal-title {
  font-family: 'Coves-Light';
  font-size: 1.7em;
}

.modal-body p {
  font-family: 'Coves-Light';
  font-size: 1.3em;
}
