////////// custom styles for splash page////////

.splash__container-login {
  height: 90vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: $lightest-grey;
  color: #fff;
}

.splash {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.splash__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 75px;
}

.splash__logo {
  font-family: 'Coves-Light';
  font-size: 3.2em;
  color: #000;
  padding-top: 10px;
  padding-left: 40px;
  flex-grow: 2;
  margin-top: 0
}

.splash__header-member {
  font-family: 'Coves-Light';
  color: #000;
  cursor: pointer;
  flex-basis: 1;
  color: #000;
  margin-top: 0;
  padding-top: 10px;
  padding-right: 40px;
  color: $mustard;
}

//changes the font color for placeholder text
.splash ::-webkit-input-placeholder {
  color: #000;
}

.splash :-moz-placeholder {
  color: #000;
}

.splash ::-moz-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

//styling for splash page tour

.splash__container-tour{
  height: 100vh;
}

.splash__container-columns {
  background-color: $lightest-grey;
  margin-bottom: 30px;
  height: 375px;
}

.splash__column-tour {
  height: 375px;
}

.splash__header-tour {
  font-family: 'Coves-Light';
  font-size: 3em;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.splash__container-tour {
  text-align: center;
}

.splash__container-tour h5 {
  padding-bottom: 15px;
  padding-top: 10px;
  font-family: 'Coves-Light';
  letter-spacing: .02em;
  font-size: 1.5em;
  font-weight: lighter;
  text-transform: uppercase;
}

.splash__copy-tour {
  font-family: 'Coves-Light';
  font-size: 1.3em;
  margin-bottom: 40px;
  padding-top: 15px;
}

.splash__image-tour {
  width: 30%;
}

.splash__column-content {
  width: 70%;
  margin: 0 auto;
}

.splash__header-about {
  font-family: 'Coves-Light';
  margin-top: 45px;
  font-size: 1.8em;
  margin-bottom: 10px;
}

.splash___container-about p {
  font-family: 'Coves-Light';
  font-size: 1.2em;
  margin-bottom: 0;
}

.splash___container-about a {
  font-family: 'Coves-Bold';
}

.splash___container-about {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #d9d9d9;
  padding-top: 15px;
}

.splash__link-scroll {
  font-family: $font-stack--primary;
  font-size: 1.8em;
  color: #000;
  display: block;
  font-style: italic;
  font-weight: lighter;
  letter-spacing: .02em;
}

.splash__image-arrow {
  width: 75px;
  cursor: pointer;
}

.splash__copy {
  font-family: 'Coves-Light';
  font-size: 2.5em;
  margin-bottom: 0;
}

.splash__secondary-copy {
  font-style: italic;
  font-size: 1.5em;
}

.splash__container-main {
  width: 60%;
  margin: 0 auto;
}

.splash a:hover {
  color: #000;
  cursor: pointer;
}

//Styling for Redux-auth error modals

h4.modal-title {
  font-family: 'Coves-Light';
  font-size: 1.7em;
}

.modal-body p {
  font-family: 'Coves-Light';
  font-size: 1.3em;
}


//media queries

//at tablet
@media screen and (max-width: 990px) {

  .splash__container-columns {
    height: auto;
    background-color: #fff;
  }

  .splash__column-tour {
    height: 90%;
    margin-bottom: 40px;
    background-color: $lightest-grey;
  }

  .splash__header-tour {
    margin-top: 30px;
  }

  .splash__container-tour h5 {
    padding-top: 15px;
    font-size: 1.8em;
  }

  .splash__container-columns {
    margin-bottom: 0;
  }

  .splash__header-about {
    margin-top: 50px;
  }

  .splash___container-about {
    margin-bottom: 40px;
  }
}


//at mobile
@media screen and (max-width: 575px) {

  .form__member-header {
    font-size: 1.2em;
  }

  .splash__container-main {
    margin: 0 auto;
    width: 100%;
  }

  .splash__container-login {
    margin: 0 auto;
    width: 100%;
  }

  .form__splash-header {
    padding-top: 50px;
  }

  .form__sign-in-container {
    width: 100%;
  }

  .splash___container-about {
    width: 80%;
    margin: 0 auto 30px auto;
  }
}
