// styling for all button elements

.submit-button {
  width: 100%;
  background-color: #fff;
  text-transform: uppercase;
  border: 1px solid #666;
  color: #666;
}

.sign-up-button {
  background-color: #fff;
  text-transform: uppercase;
  border: 1px solid black;
}
