// styling for all button elements

.button__submit {
@extend %splash-buttons;
}

.sign-up-button {
  @extend %splash-buttons;
}

button.email-sign-in-submit {
  @extend %splash-buttons;
  padding-left: 0;
}

button.form__sign-in-button {
  @extend %splash-buttons;
}

button:focus {outline:0;}

button.email-sign-up-submit,
button.form__sign-in-button {
  @extend %splash-buttons;
}

button.sign-out-submit {
  background-color: #f6f6f6;
  font-style: italic;
  border: none;
}
