//////// styling for all button elements ////////

//buttons for post critique form
.form__submit-form {
  @extend %button-hover-opaque;
  margin-bottom: 20px;
  cursor: pointer;
}

.form__submit-form:hover {
  @extend %button-hover-opaque-pseudo;
  cursor: pointer;
  background-color: #fff;
}

//buttons for main log in form
button.email-sign-in-submit {
  @extend %button-hover-fade;
  padding-left: 0;
  background-color: $lightest-grey;
  margin-top: 25px;
}

button.email-sign-in-submit:hover {
  @extend %button-hover-pseudo;
}

button.email-sign-in-submit:active {
  @extend %button-hover-pseudo;
}

button.email-sign-in-submit:focus {
  @extend %button-hover-pseudo;
}

//buttons for join candorhub main form
button.email-sign-up-submit {
  @extend %button-hover-fade;
  background-color: $lightest-grey;
  margin-bottom: 50px;
  margin-top: 25px;
}

button.email-sign-up-submit:hover {
  @extend %button-hover-pseudo;
}

button.email-sign-up-submit:focus {
  @extend %button-hover-pseudo;
}

button.email-sign-up-submit:active {
  @extend %button-hover-pseudo;
}

//faux button link in splash tour
.splash__faux-button {
  @extend %button-hover-fade;
  margin: 0 auto;
  background-color: #fff;
}

.splash__faux-button:hover {
  @extend %button-hover-pseudo;
}

button.form__sign-in-button {
  @extend %button-hover-fade;
}

button:focus {outline:0;}

button.form__sign-in-button {
  @extend %button-hover-fade;
}

//log out user link
button.sign-out-submit {
  background-color: #fff;
  font-style: italic;
  border: none;
}

//upload form button

input.button__submit {
  @extend %button-hover-fade;
  background-color: #fff;
  width: 250px;
  margin-top: 25px;
}

input.button__submit:hover {
  @extend %button-hover-pseudo;
}
