//////// styling for all button elements ////////

.sign-up-button {
  @extend %splash-buttons;
}

//buttons for post critique form 
.button__submit {
  @extend %splash-buttons;
  @extend %button-hover-fade;
  margin-bottom: 20px;
  cursor: pointer;
}

.button__submit:hover {
  @extend %button-hover-pseudo;
  cursor: pointer;
}

//buttons for main log in form
button.email-sign-in-submit {
  @extend %splash-buttons;
  @extend %button-hover-fade;
  padding-left: 0;
  color: #fff;
}

button.email-sign-in-submit:hover {
  @extend %button-hover-pseudo;
}

button.email-sign-in-submit:active {
  @extend %button-hover-pseudo;
}

button.email-sign-in-submit:focus {
  @extend %button-hover-pseudo;
}

//buttons for join candorhub main form
button.email-sign-up-submit {
  @extend %button-hover-fade;
  font-family: 'Coves-Light';
  width: 300px;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 25px;
  padding: 5px;
  color: #fff !important;
  margin-bottom: 50px;
  border: none;
}

button.email-sign-up-submit:hover {
  @extend %button-hover-pseudo;
}

button.email-sign-up-submit:focus {
  @extend %button-hover-pseudo;
}

button.email-sign-up-submit:active {
  @extend %button-hover-pseudo;
}

button.form__sign-in-button {
  @extend %splash-buttons;
}

button:focus {outline:0;}

button.form__sign-in-button {
  @extend %splash-buttons;
}

button.sign-out-submit {
  background-color: #fff;
  font-style: italic;
  border: none;
}

// buttons in redux-auth sign in/up modal
button.email-sign-up-error-modal-close.btn.btn-default {
  @extend %modal-buttons;
}
