@font-face {
  font-family: 'Coves-Light';
  src: url('./fonts/Coves-Light/Coves-Light.eot');
  src: url('./fonts/Coves-Light/Coves-Light.woff2') format('woff2'),
       url('./fonts/Coves-Light/Coves-Light.woff') format('woff'),
       url('./fonts/Coves-Light/Coves-Light.ttf') format('truetype'),
       url('./fonts/Coves-Light/Coves-Light.svg#Coves-Light') format('svg'),
       url('./fonts/Coves-Light/Coves-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
