@font-face {
  font-family: 'Coves-Light';
  src: url('./stylesheets/fonts/Coves-Light/Coves-Light.eot');
  src: url('./stylesheets/fonts/Coves-Light/Coves-Light.woff2') format('woff2'),
       url('./stylesheets/fonts/Coves-Light/Coves-Light.woff') format('woff'),
       url('./stylesheets/fonts/Coves-Light/Coves-Light.ttf') format('truetype'),
       url('./stylesheets/fonts/Coves-Light/Coves-Light.svg#Coves-Light') format('svg'),
       url('./stylesheets/fonts/Coves-Light/Coves-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Coves-Bold';
  src: url('./stylesheets/fonts/Coves-Bold/Coves-Bold.eot');
  src: url('./stylesheets/fonts/Coves-Bold/Coves-Bold.woff2') format('woff2'),
       url('./stylesheets/fonts/Coves-Bold/Coves-Bold.woff') format('woff'),
       url('./stylesheets/fonts/Coves-Bold/Coves-Bold.ttf') format('truetype'),
       url('./stylesheets/fonts/Coves-Bold/Coves-Bold.svg#Coves-Bold') format('svg'),
       url('./stylesheets/fonts/Coves-Bold/Coves-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
