@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Cardo:400,400italic,700);

* {
  font-family: 'Cardo';
  font-weight: 100;
}

h1, h2 {
  font-family: 'Montserrat';
  margin-top: 0;
}
