///////// Placeholders ///////

%material-text-fields {
  font-size: 16px;
  font-family: $font-stack--secondary;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom:  20px;
  color: #000;
  background-color: #f6f6f6;
}

%upload-material-text-fields {
  font-size: 16px;
  font-family: $font-stack--secondary;
  padding: 0 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  outline: none;
  width: 250px;
  font-weight: 300;
}

%splash-buttons {
  font-family: $font-stack--secondary;
  width: 300px;
  border: none;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 25px;
  padding: 5px;
  color: #fff !important;
}

%modal-buttons {
  font-family: $font-stack--secondary;
  width: 100px;
  border: 1px solid #949191;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 25px;
  padding: 5px;
  background-color: #fff;
}

%button-hover-fade {
  border: 1px solid  $mustard;
  color: $mustard !important;
  background-color: #f6f6f6;
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

%button-hover-pseudo {
  background-color:  $mustard;
  color: white !important;
}

%splash-form-centering {
  width: 300px;
  margin: 0 auto;
}

%main-container {
  width: 75%;
  margin: 0 auto;
}
