///////// Placeholders ///////

%material-text-fields {
  font-size: 16px;
  font-family: 'Coves-Light';
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #949191;
  margin-bottom:  20px;
}

%splash-buttons {
  font-family: 'Coves-Light';
  width: 300px;
  border: 1px solid #949191;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-top: 25px;
  padding: 5px;
}

%splash-form-centering {
  width: 300px;
  margin: 0 auto;
}
