///////// Placeholders ///////

%material-text-fields {
  font-size:16px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #949191;
  background-color: #f6f6f6;
  margin-bottom: 20px;
}

%splash-buttons {
  background-color: #f6f6f6;
  width: 300px;
  border: 1px solid #949191;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 25px;
  padding: 5px;
}
