//////variables///////


//font stack variables

$font-stack--primary: 'Open Sans';
$font-stack--secondary: 'Coves-Light';

//font weights

$font-weight--ultralight: 300;
$font-weight--light: 400;


//color variables

$orange-sunset: #DE5539;
$mustard: #C7A570;



$eggplant: #7a1f4d;
$salmon: #C96857;
$peachy: #DA8A67;
$pink: #F37B7F;
