//////variables///////


//font stack variables
//
$font-stack--primary: 'Open Sans';

//font weights

$font-weight--ultralight: 300;
$font-weight--light: 400;


//color variables

$orange-sunset: #DE5539;
$mustard: #C7A570;
$light-grey: #f6f6f6;
$medium-grey: #e8e8e8;


//experimental color variables
$eggplant: #7a1f4d;
$salmon: #C96857;
$peachy: #DA8A67;
$pink: #F37B7F;
$pale-blue: #A2CAD2;
