//////variables///////


//font stack variables

$font-stack--primary: 'Open Sans';

//font weights

$font-weight--ultralight: 300;
$font-weight--light: 400;


//color variables
$pale-blue: #A2CAD2;
$orange-sunset: #DE5539;
$mustard: #C7A570;
$lightest-grey: #f6f6f6;
$light-grey: #e6e6e6;
$medium-grey: #e8e8e8;
